# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

client_secret_184134997783-hg6clikhn40ekh5jugqssma3nre9a03m.apps.googleusercontent.com.json