<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <script src="/index.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>




<div class="container-fluid">
    <button onclick="hi()">authorize and load</button>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-lg-1" style="padding:5px">Time interval: </div> <input type="text" id="time-interval" value="1" placeholder="time interval (seconds)" style="padding:5px"/>
      <br>
      <div class="col-xs-6 col-sm-3 col-lg-1" style="padding:5px">Total time: </div> <input type="text" id="total-time" value="12" placeholder="total time (minutes)" style="padding:5px"/>
      <br>
      <h5 id="info-text"></h5>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3" style="padding: 10px; background-color:#d0e7c5"> <h6 id="times" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif"></h6> </div>
      <div class="col-sm-6 col-lg-3" style="padding: 10px; background-color:#c6b4a6"> <h6 id="values" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif"></h6> </div>
    </div>
  </div>





<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>

    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>

      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>

    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>


</body>
</html>
